{% extends "layout.html" %}

{% block title %}Play{% endblock %}

{% block content %}
{% if not session.get('username') %}
    <form action="set_username" method="post">
        <input type="text" name="username" placeholder="Enter your name" required>
        <button type="submit">Enter</button>
    </form>
{% else %}
    <div id="welcome-div" class="d-flex flex-column justify-content-center">
        <h2>Welcome, {{ session['username'] }}!</h2>
        <button id="start-game" class="btn btn-danger">Start Game</button>
    </div>
    <div id="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div id="question-container" style="margin-top: 20px; display: none;">
        <p id="question"></p>
        <input type="text" id="answer" placeholder="Your answer">
        <button id="submit-answer">Submit</button>
        <p id="timer">Time Left: <span id="time-left">10</span> seconds</p>
        <p id="points">Points: <span id="points-value">0</span></p>
    </div>
    <div id="result-container" style="margin-top: 20px; display: none;">
        <p id="result-message"></p>
        <button id="play-again">Play Again</button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let questions = [];
            let currentQuestionIndex = 0;
            let timerInterval;
            let points = 0;
            const questionContainer = document.getElementById('question-container');
            const questionElement = document.getElementById('question');
            const resultContainer = document.getElementById('result-container');
            const startGameButton = document.getElementById('start-game');
            const loading = document.getElementById('loading');
            const submitAnswerButton = document.getElementById('submit-answer');
            const timeLeftSpan = document.getElementById('time-left');
            const pointsValueSpan = document.getElementById('points-value');

            const showNextQuestion = () => {
                if (currentQuestionIndex < questions.length) {
                    questionContainer.style.display = 'block';
                    resultContainer.style.display = 'none';
                    // Probably the most necessary code in here as it changes the question
                    questionElement.textContent = `${currentQuestionIndex}. What is the hexadecimal equivalent of ${questions[currentQuestionIndex]}?`;
                    clearInterval(timerInterval);
                    startTimer();
                } else {
                    questionContainer.style.display = 'none';

                    alert("Game Over! Your Total Points: ", points);
                    //endGame();
                }
            };

            function startTimer() {
                let timeLeft = 10;
                timeLeftSpan.textContent = timeLeft;
                timerInterval = setInterval(() => {
                    console.log('Time Left: ', timeLeft)
                    timeLeft--;
                    timeLeftSpan.textContent = timeLeft;
                    if (timeLeft <= 0) {
                        clearInterval(timerInterval);
                        console.log("Time Left is 0 or less");
                        showNextQuestion();
                    }
                }, 1000);
            }

            // Start Game Logic
            if (startGameButton) {
                startGameButton.addEventListener('click', () => {
                    
                    const welcomeDiv = document.getElementById('welcome-div');
                    welcomeDiv.style.visibility = 'hidden';
                    welcomeDiv.style.height = '0';
                    loading.style.display = 'block';
                    
                    fetch('/start_game')
                        .then(response => response.json())
                        .then(data => {
                            questions = data;
                            currentQuestionIndex = 0;
                            // Simulate a delay to see loading
                            loading.style.display = 'none';
                            showNextQuestion();
                        })
                });
            }

            // Submit Answer
            if (submitAnswerButton) {
                submitAnswerButton.addEventListener('click', () => {
                    const userAnswer = document.getElementById('answer').value.toUpperCase().trim();
                    const currentQuestion = questions[currentQuestionIndex];
                    const correctAnswer = parseInt(currentQuestion, 2).toString(16).toUpperCase();

                    // Animation Examples (Especially "tada" and "pulse" https://mdbootstrap.com/docs/standard/content-styles/animations/
                    if(userAnswer === correctAnswer) {
                        // TODO: Make it dopamine inducing! If possible with sounds and animation effects
                        clearInterval(timerInterval);
                        const remainingTime = parseInt(timeLeftSpan.textContent)

                        points += remainingTime * 100; 
                        pointsValueSpan.textContent = points;
                        alert('Correct!');
                    } else {
                        alert(`Wrong! The correnct answer was ${correctAnswer}.`);
                    }

                    answerInput = document.getElementById('answer');
                    answerInput.value = '';
                    answerInput.focus();
                    currentQuestionIndex++;
                    showNextQuestion();
                });
            }
        });
    </script>
{% endif %}
{% endblock %}